# ==================================================
# Python
# ==================================================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==================================================
# VS Code
# ==================================================

.vscode/

# ==================================================
# Output
# ==================================================

output/
logs/

# ==================================================
# Market Data
# ==================================================

data/raw/
data/processed/

# ==================================================
# OS
# ==================================================

Thumbs.db
.DS_Store